# Python cache and byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Environment and secret files
.env

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE files
.vscode/
.idea/
